/deps/*.d
/deps/client/*.d
/objs/*.o
/objs/client/*.o
/backpropagate-losses
/backpropagate2
/combine-bitmaps
/combine-two
/count-bits
/count-bytes
/count-unreachable
/count-r1
/decode-delta
/encode-delta
/efcodec_test
/expand-minimized
/fix-r4-bin
/integrate-two
/integrate-wins
/integrate-wins2
/lookup-rN
/lookup-min
/merge-phases
/minimax
/minify-merged
/minimized.bin
/minimized.bin.xz
/perms_test
/potential-new-losses
/print-ef
/print-perm
/print-r1
/pushfight-standalone-server
/random-walk
/search_test
/sample-bytes
/solve2
/solve3
/solve-r0
/solve-r1
/solve-r1-chunked
/solve-rN
/solve-lost
/ternary_test
/test-client
/verify-input-chunks
/verify-min-index
/verify-minimized
/verify-new
/verify-r0
/verify-r1
/verify-rN
