/deps/*.d
/deps/client/*.d
/objs/*.o
/objs/client/*.o
/backpropagate-losses
/backpropagate2
/combine-bitmaps
/count-bits
/count-unreachable
/count-r1
/decode-delta
/encode-delta
/efcodec_test
/fix-r4-bin
/integrate-wins
/integrate-wins2
/lookup-rN
/minimax
/perms_test
/print-ef
/print-perm
/print-r1
/search_test
/solve-r0
/solve-r1
/solve-r1-chunked
/solve-rN
/solve-lost
/ternary_test
/verify-input-chunks
/verify-r0
/verify-r1
/verify-rN
