body {
  margin: 0;
  padding: 0;
  background: gray;
  color: white;
  font: 12pt sans-serif;
}

.status {
  padding: 0.5em;
  background: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.status .status-links .status-link {
  display: inline;
  padding-right: 1em;
  color: white;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.status .status-text {
  flex-grow: 1;
}

.board-holder {
  padding: 10px;
  margin: 10px;
}

.board {
  width: 828px;
  display: grid;
  grid-template-columns: auto repeat(8, 1fr) auto;
  grid-template-rows: auto repeat(4, 1fr) auto;
  background: grey;
}

.board .coord {
  color: #404040;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board .field {
  background: rgb(240, 230, 220);
  /* Note: I use a box-shadow here instead of the equivalent borders,
     because if fields have borders, pieces are a nightmare to animate! */
  box-shadow:
      inset 2px -2px rgb(180, 170, 160),
      inset -2px 2px rgb(250, 240, 230);
  /*
  border-top: 2px solid rgb(250, 240, 230);
  border-right: 2px solid rgb(250, 240, 230);
  border-bottom: 2px solid rgb(180, 170, 160);
  border-left: 2px solid rgb(180, 170, 160);
  */
  aspect-ratio: 1;
  position: relative;
  box-sizing: border-box;
}

.board .danger {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* Note: transparancy is used below to make the danger stripes look good
     when the background color changes when the field is selected. */
  background: repeating-linear-gradient(
    45deg,
    rgb(240, 230, 220, 0) -10px,
    rgb(240, 230, 220, 0) 0,
    rgb(255, 200, 160, 1) 0,
    rgb(255, 200, 160, 1) 10px
  );
}

.board .danger.top    { bottom: 80% }
.board .danger.left   { right:  80% }
.board .danger.bottom { top:    80% }
.board .danger.right  { left:   80% }

.board .field.border-top {
  border-top: 5px solid rgb(50, 40, 30);
}

.board .field.border-bottom {
  border-bottom: 5px solid rgb(50, 40, 30);
}

.board .field.selected {
  background: yellow;
}

/* This exists for animation purposes. */
.board .piece-holder {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.board .piece.red {
  background: rgb(240, 0, 0);
  border-color: rgb(120, 0, 0);
}

.board .piece.blue {
  background: rgb(0, 0, 240);
  border: 5px solid rgb(0, 0, 120);
}

.board .piece,
.board .push-origin {
  position: absolute;
  top:    7.5%;
  right:  7.5%;
  bottom: 7.5%;
  left:   7.5%;
}

.board .piece {
  pointer-events: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 60px;
  border: 5px solid;
}

.palette {
  background: rgba(0, 0, 0, 0.67);
  border-radius: 50%;
  margin: -100%;
}

.palette .cell {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.palette .icon {
  font-size: 30px;
  color: white;
}

.board .piece.circle {
  border-radius: 50%;
}

.board .push-origin {
  border: 10px dotted rgba(0, 0, 0, 0.25);
}

.board .move-target {
  position: absolute;
  top:    25%;
  right:  25%;
  bottom: 25%;
  left:   25%;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.125);
}

.board .push-target {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  border: 10px solid rgba(0, 0, 0, 0.25);
}

.board-with-panel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tab-panel {
  margin-left: 1em;
}

.tab-panel .tabs {
  display: flex;
  flex-direction: row;
}

.tab-panel .tabs .tab {
  padding: 0.2em 2em;
  font-weight: bold;
}

.history,
.history-tab {
  background: rgb(32, 32, 32);
  color: white;
}

.analysis,
.analysis-tab {
  background: rgb(32, 32, 80);
  color: white;
}

.history {
  padding: 8px;
  min-width: 400px;
  min-height: 600px;
}

.history table thead th {
  padding: 0.25em 0.5em;
  min-width: 10em;
}

.history table thead th.red {
  background: rgb(120, 0, 0);
}

.history table thead th.blue {
  background: rgb(0, 0, 120);
}

.history table td {
  padding-left: 1em;
  padding-right: 1em;
}

.history button {
  background: #333;
  color: white;
  border-width: thin;
  padding: 0.25em 0.5em;
  margin: 0.5em;
}

.history button:disabled {
  color: #666;
}

.analysis {
  padding: 8px;
  min-width: 400px;
  min-height: 600px;
}

.analysis .group .header {
  background: rgb(0, 0, 40);
  font-weight: bold;
  padding: 0.25em 0.5em;
}

.analysis .group:not(:first-of-type) .header {
  margin-top: 5px;
}

.float-right {
  float: right;
}

.analysis .group .turns {
  border: 2px solid rgb(0, 0, 40);
  max-height: 400px;
  overflow-y: auto;
}

.analysis .group .turn {
  padding: 0.25em 0.5em;
}

.copyright-notice {
  font-size: 10pt;
  padding: 1em;
  color: #ccc;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

.copyright-notice a {
  color: #aaa;
  text-decoration: none;
}

.copyright-notice a:hover {
  text-decoration: underline;
}
